@model IEnumerable<RecipeBox.Models.Recipe>

@{
    ViewBag.Title = "My Recipes";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<br />
<p>
    <a href="@Url.Action("Create", "Recipes")" class="btn btn-md btn-success">Create Recipe</a>
</p>

<table class="table">
<caption>Here are your recipes in alphabetized order. Click on a name to view the recipe.</caption>
    
@foreach (var item in Model) {
    <tr>
       <td>
            <a href="@Url.Action("Details", "Recipes", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
       </td>
    </tr>
}

</table>
