@model IEnumerable<RecipeBox.Models.Recipe>

@{
    ViewBag.Title = "My Recipes";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
<br />
<p>
    <a href="@Url.Action("Create", "Recipes")" class="btn btn-md btn-success">Create Recipe</a>
</p>

<table class="table table-condensed">
<caption>Here are your recipes in alphabetized order. Click on a name to view the recipe.</caption>
    
@foreach (var item in Model) {
    <tr>
        <td class="col-md-1">
            @if (@item.Files.Any(f => f.FileType == RecipeBox.Models.FileType.Image))
            {
                <img class="img-responsive thumbnail" src="~/File?id=@item.Files.First(f => f.FileType == RecipeBox.Models.FileType.Image).FileId" alt="Recipe photo" />
            }
            else
            {
                <img class="img-responsive thumbnail" src="~/Content/theme/Enkel/img/img_placeholder.png" />
            }
        <td class="">
            <a href="@Url.Action("Details", "Recipes", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Title)</a>
       </td>
    </tr>
}

</table>
