@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}

<!-- content -->
<div id="content">
    <div class="container">
        <div class="block">
            <div class="row">
                <div class="col-sm-6" id="form-section">
                    <h3>@ViewBag.ContactMessage</h3>
                    <form method="post" id="contact-form" >
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" id="name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email" id="email">
                        </div>
                        <div class="form-group">
                            <textarea rows="15" class="form-control" placeholder="Message" id="message"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Send Message">
                    </form>
                </div>
                <div class="col-sm-6">
                    <h3 class="block-title sub-title">
                        <span>Other Ways To Get In Touch</span>
                    </h3>
                    <p><abbr title="Email">E</abbr>: support@recipeapp.me</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts 
{
  <script type="text/javascript" src="~/Content/js/ContactForm.js"></script>
}