/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

html > /**/ body .overflow-hidden {
    overflow: hidden;
}

.no-decoration {
    list-style: none;
}

.multiline
{
   margin-top: -60px;
   white-space: pre-line;
   line-height: 35px;
   font-size: 1.75rem;
}
.recipe-img {
    height: 250px;
    width: 250px;
}
